<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?php echo $model['title']?></title>
    <link rel="stylesheet" href="../bootstrap-edit.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
            integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
          integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous"/>
    <style>
        body {
            background-color: #f9fafb;
        }

        @media (min-width: 991.98px) {
            main {
                padding-left: 240px;
            }
        }

        /* Sidebar */
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            /*padding: 58px 0 0; !* Height of navbar *!*/
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
            width: 240px;
            z-index: 600;
        }

        @media (max-width: 991.98px) {
            .sidebar {
                position: relative;
                width: 100%;
            }
        }
    </style>
</head>
<body>

<header>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar bg-primary">
        <div class="position-sticky  mx-3">
            <a
                    class="navbar-brand d-none d-lg-block align-content-center text-white"
                    style="height: 58px"
                    href="#"
            >
                <img
                        src="<?php echo APP_URL?>/assets/image/Logo.svg"
                        alt=""
                        height="30"
                >
            </a>
            <div class="list-group list-group-flush mt-4 gap-3 ">
                <a
                        href="<?php echo APP_URL?>/dosen/dashboard"
                        class="list-group-item list-group-item-primary list-group-item-action py-2 ripple border-0 rounded-2 active"
                        aria-current="true"
                        onclick="setActive(this)"
                >
                    <i class="bi bi-house me-3"></i>
                    <span>Dashboard</span>
                </a>
                <a
                        href="<?php echo APP_URL?>/dosen/lapor"
                        class="list-group-item list-group-item-primary list-group-item-action py-2 ripple border-0 rounded-2"
                        onclick="setActive(this)"
                >
                    <i class="bi bi-backpack me-3"></i>
                    <span>Lapor</span>
                </a>
                <a
                        href="<?php echo APP_URL?>/dosen/laporan"
                        class="list-group-item list-group-item-primary list-group-item-action py-2 ripple border-0 rounded-2"
                        onclick="setActive(this)"
                >
                    <i class="bi bi-duffle me-3"></i>
                    <span>Laporan</span>
                </a>
                <a
                        href="<?php echo APP_URL?>/dosen/pelanggaran"
                        class="list-group-item list-group-item-primary list-group-item-action py-2 ripple border-0 rounded-2"
                        onclick="setActive(this)"
                >
                    <i class="bi bi-duffle me-3"></i>
                    <span>Pelanggaran</span>
                </a>
                <a
                        href="<?php echo APP_URL?>/dosen/tata-tertib"
                        class="list-group-item list-group-item-primary list-group-item-action py-2 ripple border-0 rounded-2"
                        onclick="setActive(this)"
                >
                    <i class="bi bi-duffle me-3"></i>
                    <span>Tata Tertib</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="d-lg-none"></div>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img
                        src="#"
                        height="25"
                        alt=""
                        loading="lazy"
                />
                <span>SISTEM TATA TERTIB</span>
            </a>
            <div class="dropdown ms-auto">
                <a
                        class="nav-link dropdown-toggle hidden-arrow align-items-center"
                        href="#"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    <img
                            src="<?php echo APP_URL?>/assets/image/logo-polinema.png"
                            class="rounded-circle"
                            height="22"
                            alt=""
                            loading="lazy"
                    />
                    <span class="ms-1 d-none d-sm-inline">ADMIN</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="<?php echo APP_URL . '/logout'?>">
                            <i class="bi bi-box-arrow-left me-2"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <button
                    class="navbar-toggler rounded-0 shadow-none p-2 border-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="bi bi-list"></i>
            </button>
        </div>
    </nav>
</header>

<!--Main layout-->
<main class="mx-lg-3 mb-4" style="margin-top: 58px">
    <div class="container-fluid pt-4">
        <div class="bg-white rounded-2 p-3" style="min-height: 500px">
            <div class="row">
                <h3 class="col">Laporan Pelanggaran Mahasiswa</h3>
                <div class="col-auto">
<!--                    <button-->
<!--                            class="btn btn-primary"-->
<!--                            data-bs-toggle="modal"-->
<!--                            data-bs-target="#tambahLaporanMahasiswa"-->
<!--                    >-->
<!--                        Buat Laporan-->
<!--                    </button>-->
<!--                <select class="form-select" aria-label="Status">-->
<!--                    <option selected>Status</option>-->
<!--                    <option value="1">One</option>-->
<!--                    <option value="2">Two</option>-->
<!--                    <option value="3">Three</option>-->
<!--                </select>-->
<!--                </div>-->
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                    <tr>
                        <th class="border-0 rounded-start-3 col-1">No</th>
                        <th class="border-0 col-3">Nama</th>
                        <th class="border-0">Pelanggaran</th>
                        <th class="border-0 col-1">Status</th>
                        <th class="border-0 col-1">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>1234567890</td>
                        <td>Ini Adalah Nama Saya</td>
                        <td>
                            <div class="alert alert-warning m-0 p-1 small">Proses</div>
                        </td>

                        <td>
                            <button
                                    class="btn btn-sm btn-outline-info"
                                    data-bs-toggle="modal"
                                    data-bs-target="#detailLaporanMahasiswa"
                            >Detail
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1234567890</td>
                        <td>Ini Adalah Nama Saya</td>
                        <td>
                            <div class="alert alert-danger m-0 p-1 small">Batal</div>
                        </td>

                        <td>
                            <button
                                    class="btn btn-sm btn-outline-info"
                                    data-bs-toggle="modal"
                                    data-bs-target="#detailLaporanMahasiswa"
                            >Detail
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1234567890</td>
                        <td>Ini Adalah Nama Saya</td>
                        <td>
                            <div class="alert alert-success m-0 p-1 small">Dikirm</div>
                        </td>

                        <td>
                            <button
                                    class="btn btn-sm btn-outline-info"
                                    data-bs-toggle="modal"
                                    data-bs-target="#detailLaporanMahasiswa"
                            >Detail
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Modal tambah laporan mahasiswa-->
<!--                <div-->
<!--                        class="modal fade"-->
<!--                        id="tambahLaporanMahasiswa"-->
<!--                        data-bs-backdrop="static"-->
<!--                        tabindex="-1"-->
<!--                        aria-labelledby="staticBackdropLabel"-->
<!--                        aria-hidden="true">-->
<!--                    <div class="modal-dialog modal-dialog-centered">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="tambahLaporanMahasiswaLabel">Lapor Mahasiswa</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                        aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <div class="mb-4">-->
<!--                                    <label for="inputNIM" class="form-label">NIM</label>-->
<!--                                    <input type="text" class="form-control" id="inputNIM">-->
<!--                                </div>-->
<!--                                <div class="mb-4">-->
<!--                                    <label for="inputNama" class="form-label">Nama</label>-->
<!--                                    <input type="text" class="form-control disabled" id="inputNama" disabled>-->
<!--                                </div>-->
<!--                                <div class="mb-4">-->
<!--                                    <label for="inputTanggal" class="form-label">Tanggal</label>-->
<!--                                    <input type="date" class="form-control" id="inputTanggal">-->

<!--                                </div>-->
<!--                                <div class="mb-4">-->
<!--                                    <label for="select-state" class="form-label">Pelanggaran</label>-->
<!--                                    <select id="select-state" placeholder="Cari Barang" class="my-form-control">-->
<!--                                        <option value="">Select your country</option>-->
<!--                                        <option value="US">United States of America</option>-->
<!--                                        <option value="KE">Kenya</option>-->
<!--                                        <option value="UK">United Kingdom</option>-->
<!--                                        <option value="IN">India</option>-->
<!--                                        <option value="CN">China</option>-->
<!--                                        <option value="CA">Canada</option>-->
<!--                                        <option value="RU">Russia</option>-->
<!--                                        <option value="DE">Germany</option>-->
<!--                                        <option value="ZA">South Africa</option>-->
<!--                                        <option value="BR">Brazil</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="mb-4">-->
<!--                                    <label for="inputBukti" class="form-label">Upload Bukti</label>-->
<!--                                    <input type="file" class="form-control" id="inputBukti">-->
<!--                                </div>-->
<!--                                <div class="mb-4">-->
<!--                                    <label for="inputDeskripsi" class="form-label">Deskripsi</label>-->
<!--                                    <textarea class="form-control" id="inputDeskripsi" rows="3"></textarea>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button class="col btn btn-success">Kirim</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- Modal details laporan mahasiswa-->
                <div
                        class="modal fade"
                        id="detailLaporanMahasiswa"
                        data-bs-backdrop="static"
                        tabindex="-1"
                        aria-labelledby="staticBackdropLabel"
                        aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="detailLaporanMahasiswaLabel">Detail Lapor Mahasiswa</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!--                                <div class="mb-4">-->
                                <!--                                    <label for="inputDeskripsi" class="form-label">Status</label>-->
                                <!--                                    <div class="alert alert-warning text-center">Proses</div>-->
                                <!--                                </div>-->
                                <div class="mb-4">
                                    <label for="inputNIM" class="form-label">NIM</label>
                                    <input type="text" class="form-control" id="inputNIM" value="asdfdsfasdfads">
                                </div>
                                <div class="mb-4">
                                    <label for="inputNama" class="form-label">Nama</label>
                                    <input type="text" class="form-control disabled" id="inputNama" disabled>
                                </div>
                                <div class="mb-4">
                                    <label for="inputTanggal" class="form-label">Tanggal</label>
                                    <input type="date" class="form-control" id="inputTanggal">
                                </div>
                                <div class="mb-4">
                                    <label for="select-state-test" class="form-label">Pelanggaran</label>
                                    <select id="select-state-test" placeholder="Cari Barang" class="my-form-control">
                                        <option value="">Select your country</option>
                                        <option value="US">United States of America</option>
                                        <option value="KE">Kenya</option>
                                        <option value="UK">United Kingdom</option>
                                        <option value="IN">India</option>
                                        <option value="CN">China</option>
                                        <option value="CA">Canada</option>
                                        <option value="RU">Russia</option>
                                        <option value="DE">Germany</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="BR">Brazil</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="inputBukti" class="form-label">Sanksi</label>
                                    <input type="text" class="form-control" id="inputBukti">
                                </div>
                                <div class="mb-4">
                                    <label for="" class="form-label">Surat Pernyataan</label>
                                    <img src="https://via.placeholder.com/1000" alt="Bukti" class="img-fluid"
                                         style="max-width: 100%; height: auto;" onclick="showFullImage(this.src)">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="col btn btn-info">Selesai</button>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->
<script>
    $('#select-state').selectize({
        onChange: function (value) {

        }
    });
    $('#select-state-test').selectize({
        onChange: function (value) {

        }
    });

    const toggleChevron = (submenuId, chevronId) => {
        $(`#${submenuId}`).on('show.bs.collapse hide.bs.collapse', function () {
            $(`#${chevronId}`).toggleClass('bi-caret-down-fill bi-caret-left-fill');
        });
    }
    toggleChevron('submenuMahasiswa', 'chevronMahasiswa');
    toggleChevron('submenuDosen', 'chevronDosen');
    toggleChevron('submenuSistemTataTertib', 'chevronSistemTataTertib');
</script>
<script>
    $(function () {
        $('input[type=checkbox]').prop('checked', true);
    });

    function setActive(element) {
        $('.list-group-item').removeClass('active');
        $(element).addClass('active');
    }
</script>
<script>
    function toggleFixedTop() {
        const navbar = document.getElementById('main-navbar');
        if (window.innerWidth < 992) {
            navbar.classList.add('fixed-top');
        } else {
            navbar.classList.remove('fixed-top');
        }
    }

    window.addEventListener('resize', toggleFixedTop);
    window.addEventListener('load', toggleFixedTop);

    function setActive(element) {
        $('.list-group-item').removeClass('active');
        $(element).addClass('active');
    }
</script>
</body>
</html>