body {
    background-color: #2c3e50;
}

/* Style untuk card login */
#loginCard {
    width: 600%;
    max-width: 600px;
    background-color: #f8f9fa;
    border-radius: 6px;
}

/* Style untuk image */
#logo {
    width: 100px;
    height: auto;
}

/* Mengatur padding pada alert */
#alert {
    padding: 10px;
    font-size: 0.9em;
}

/* Memperbesar ukuran kolom input */
#loginForm .form-control {
    font-size: 1.1rem; /* Perbesar teks dalam kolom input */
    padding: 1rem; /* Perbesar tinggi kolom input dengan padding */
    height: 60px; /* Atur tinggi kolom input */
    width: 100%; /* Atur lebar kolom sesuai form */
}