@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0px;
    height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

.landing-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.landing-page .div {
    background-color: #ffffff;
    width: 1440px;
    height: 3257px;
    position: relative;
}

.landing-page .body {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

.landing-page .hero {
    position: relative;
    width: 1440px;
    height: 1379px;
}

.landing-page .overlap-group {
    position: relative;
    height: 1379px;
}

.landing-page .rectangle {
    position: absolute;
    width: 1440px;
    height: 447px;
    top: 932px;
    left: 0;
    background-color: #ffffff;
}

.landing-page .image {
    position: absolute;
    width: 1440px;
    height: 932px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.landing-page .title-CTA {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 120px;
    left: 270px;
}

.landing-page .title {
    display: flex;
    flex-direction: column;
    width: 900px;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .selamat-datang-di {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--display-xl-semibold-font-family);
    font-weight: var(--display-xl-semibold-font-weight);
    color: #ffffff;
    font-size: var(--display-xl-semibold-font-size);
    text-align: center;
    letter-spacing: var(--display-xl-semibold-letter-spacing);
    line-height: var(--display-xl-semibold-line-height);
    font-style: var(--display-xl-semibold-font-style);
}

.landing-page .text-wrapper {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
}

.landing-page .frame {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.landing-page .button-base {
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    background-color: #ffffff;
    overflow: hidden;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    border: 1px solid;
    border-color: white;
}

.landing-page .text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #0f1728;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.landing-page .button-base-wrapper {
    all: unset;
    box-sizing: border-box;
    align-items: flex-start;
    margin-top: -1.00px;
    margin-bottom: -1.00px;
    margin-right: -1.00px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    border: 1px solid;
    border-color: white;
}

.landing-page .div-wrapper {
    padding: 12px 20px;
    background-color: #ffffff26;
    border-color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
}

.landing-page .text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.landing-page .dashboard-mahasiswa {
    position: absolute;
    width: 1104px;
    height: 815px;
    top: 528px;
    left: 168px;
    object-fit: cover;
}

.landing-page .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 80px 120px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #f2f3f6;
}

.landing-page .p {
    position: relative;
    width: 640px;
    margin-top: -1.00px;
    font-family: var(--display-md-medium-font-family);
    font-weight: var(--display-md-medium-font-weight);
    color: #0f1728;
    font-size: var(--display-md-medium-font-size);
    text-align: center;
    letter-spacing: var(--display-md-medium-letter-spacing);
    line-height: var(--display-md-medium-line-height);
    font-style: var(--display-md-medium-font-style);
}

.landing-page .frame-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .img {
    position: relative;
    width: 576px;
    height: 425.78px;
    margin-top: -8.00px;
    margin-bottom: -48.00px;
    margin-left: -28.00px;
    object-fit: cover;
}

.landing-page .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.landing-page .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.landing-page .span-wrapper {
    position: relative;
    align-self: stretch;
    font-family: var(--text-xl-regular-font-family);
    font-weight: var(--text-xl-regular-font-weight);
    color: #0f1728;
    font-size: var(--text-xl-regular-font-size);
    text-align: justify;
    letter-spacing: var(--text-xl-regular-letter-spacing);
    line-height: var(--text-xl-regular-line-height);
    font-style: var(--text-xl-regular-font-style);
}

.landing-page .span {
    font-family: var(--text-xl-regular-font-family);
    font-weight: var(--text-xl-regular-font-weight);
    color: #0f1728;
    font-size: var(--text-xl-regular-font-size);
    letter-spacing: var(--text-xl-regular-letter-spacing);
    line-height: var(--text-xl-regular-line-height);
    font-style: var(--text-xl-regular-font-style);
}

.landing-page .section-2 {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 80px 120px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--display-md-medium-font-family);
    font-weight: var(--display-md-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--display-md-medium-font-size);
    text-align: center;
    letter-spacing: var(--display-md-medium-letter-spacing);
    line-height: var(--display-md-medium-line-height);
    font-style: var(--display-md-medium-font-style);
}

.landing-page .container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    align-items: flex-start;
    justify-content: center;
    gap: 40px 40px;
    position: relative;
    flex: 0 0 auto;
    overflow-x: scroll;
}

.landing-page .card-feature {
    display: flex;
    flex-direction: column;
    width: 373.33px;
    align-items: flex-start;
    gap: 16px;
    padding: 24px;
    position: relative;
    background-color: var(--primary-800);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--shadow-lg);
}

.landing-page .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: var(--white);
    font-size: 36px;
    letter-spacing: -0.72px;
    line-height: 44px;
    white-space: nowrap;
}

.landing-page .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .div-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .based-on-your {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--display-xs-medium-font-family);
    font-weight: var(--display-xs-medium-font-weight);
    color: var(--white);
    font-size: var(--display-xs-medium-font-size);
    letter-spacing: var(--display-xs-medium-letter-spacing);
    line-height: var(--display-xs-medium-line-height);
    font-style: var(--display-xs-medium-font-style);
}

.landing-page .confluidity-AI {
    position: relative;
    align-self: stretch;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--white);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
}

.landing-page .card-feature-2 {
    width: 373.33px;
    padding: 24px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    background-color: var(--gray-100);
}

.landing-page .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-800);
    font-size: 36px;
    letter-spacing: -0.72px;
    line-height: 44px;
    white-space: nowrap;
}

.landing-page .based-on-your-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--display-xs-medium-font-family);
    font-weight: var(--display-xs-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--display-xs-medium-font-size);
    letter-spacing: var(--display-xs-medium-letter-spacing);
    line-height: var(--display-xs-medium-line-height);
    font-style: var(--display-xs-medium-font-style);
}

.landing-page .confluidity-AI-2 {
    position: relative;
    align-self: stretch;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-700);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
}

.landing-page .section-3 {
    align-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 80px 120px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .container-2 {
    display: flex;
    width: 1200px;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
    overflow-x: scroll;
}

.landing-page .card-article {
    padding: 28px;
    flex: 1;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    background-color: #f2f3f6;
}

.landing-page .text-wrapper-5 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--display-xs-medium-font-family);
    font-weight: var(--display-xs-medium-font-weight);
    color: var(--gray-900);
    font-size: var(--display-xs-medium-font-size);
    letter-spacing: var(--display-xs-medium-letter-spacing);
    line-height: var(--display-xs-medium-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-style: var(--display-xs-medium-font-style);
}

.landing-page .text-wrapper-6 {
    position: relative;
    align-self: stretch;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-700);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-style: var(--text-md-regular-font-style);
}

.landing-page .content-2 {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    background-color: #0f1728;
}

.landing-page .logo-nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 36px;
    padding: 120px 120px 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.landing-page .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: #ffffff;
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    font-style: var(--text-md-semibold-font-style);
}

.landing-page .soekarno-hatta {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}

.landing-page .frame-4 {
    display: flex;
    flex-direction: column;
    width: 582px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.landing-page .frame-5 {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .img-2 {
    position: relative;
    width: 16px;
    height: 16px;
}

.landing-page .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.landing-page .frame-6 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 120px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.landing-page .text-wrapper-9 {
    position: relative;
    width: fit-content;
    font-family: var(--text-xs-regular-font-family);
    font-weight: var(--text-xs-regular-font-weight);
    color: var(--gray-500);
    font-size: var(--text-xs-regular-font-size);
    letter-spacing: var(--text-xs-regular-letter-spacing);
    line-height: var(--text-xs-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-xs-regular-font-style);
}

.landing-page .menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-sm-regular-font-family);
    font-weight: var(--text-sm-regular-font-weight);
    color: var(--white);
    font-size: var(--text-sm-regular-font-size);
    letter-spacing: var(--text-sm-regular-letter-spacing);
    line-height: var(--text-sm-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-regular-font-style);
}

.landing-page .header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 16px 220px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.landing-page .frame-7 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .logo-poltek {
    position: relative;
    width: 24.04px;
    height: 24px;
    object-fit: cover;
}

.landing-page .text-wrapper-11 {
    position: relative;
    width: 127.96px;
    margin-top: -1.00px;
    font-family: var(--text-md-medium-font-family);
    font-weight: var(--text-md-medium-font-weight);
    color: #0f1728;
    font-size: var(--text-md-medium-font-size);
    letter-spacing: var(--text-md-medium-letter-spacing);
    line-height: var(--text-md-medium-line-height);
    font-style: var(--text-md-medium-font-style);
}

.landing-page .frame-8 {
    display: inline-flex;
    align-items: center;
    gap: 56px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-xs-regular-font-family);
    font-weight: var(--text-xs-regular-font-weight);
    color: #0f1728;
    font-size: var(--text-xs-regular-font-size);
    letter-spacing: var(--text-xs-regular-letter-spacing);
    line-height: var(--text-xs-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-xs-regular-font-style);
}

.landing-page .button-base-2 {
    padding: 10px 16px;
    background-color: var(--primary-800);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--primary-800);
}

.landing-page .text-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-sm-semibold-font-family);
    font-weight: var(--text-sm-semibold-font-weight);
    color: var(--white);
    font-size: var(--text-sm-semibold-font-size);
    letter-spacing: var(--text-sm-semibold-letter-spacing);
    line-height: var(--text-sm-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-semibold-font-style);
}

.text-wrapper-12.active {
    color: blue; /* Warna untuk navigasi aktif */
}

.text-wrapper-12 {
    color: white; /* Warna default untuk navigasi */
    transition: color 0.3s ease;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --gray-25: rgba(252, 252, 253, 1);
    --gray-50: rgba(249, 250, 251, 1);
    --gray-100: rgba(242, 244, 247, 1);
    --gray-200: rgba(234, 236, 240, 1);
    --gray-300: rgba(208, 213, 221, 1);
    --gray-400: rgba(152, 162, 179, 1);
    --gray-500: rgba(102, 112, 133, 1);
    --gray-600: rgba(71, 84, 103, 1);
    --gray-700: rgba(52, 64, 84, 1);
    --gray-800: rgba(29, 41, 57, 1);
    --gray-900: rgba(16, 24, 40, 1);
    --primary-25: rgba(245, 248, 254, 1);
    --primary-50: rgba(236, 242, 254, 1);
    --primary-100: rgba(211, 225, 252, 1);
    --primary-200: rgba(166, 196, 249, 1);
    --primary-300: rgba(123, 166, 247, 1);
    --primary-400: rgba(82, 137, 245, 1);
    --primary-500: rgba(49, 108, 244, 1);
    --primary-600: rgba(39, 87, 195, 1);
    --primary-700: rgba(28, 65, 147, 1);
    --primary-800: rgba(17, 43, 97, 1);
    --primary-900: rgba(7, 22, 49, 1);
    --error-25: rgba(255, 251, 250, 1);
    --error-50: rgba(254, 243, 242, 1);
    --error-100: rgba(254, 228, 226, 1);
    --error-200: rgba(254, 205, 202, 1);
    --error-300: rgba(253, 162, 155, 1);
    --error-400: rgba(249, 112, 102, 1);
    --error-500: rgba(240, 68, 56, 1);
    --error-600: rgba(217, 45, 32, 1);
    --error-700: rgba(180, 35, 24, 1);
    --error-800: rgba(145, 32, 24, 1);
    --error-900: rgba(122, 39, 26, 1);
    --warning-25: rgba(255, 252, 245, 1);
    --warning-50: rgba(255, 250, 235, 1);
    --warning-100: rgba(254, 240, 199, 1);
    --warning-200: rgba(254, 223, 137, 1);
    --warning-300: rgba(254, 200, 75, 1);
    --warning-400: rgba(253, 176, 34, 1);
    --warning-500: rgba(247, 144, 9, 1);
    --warning-600: rgba(220, 104, 3, 1);
    --warning-700: rgba(181, 71, 8, 1);
    --warning-800: rgba(147, 55, 13, 1);
    --warning-900: rgba(122, 46, 14, 1);
    --success-25: rgba(246, 254, 249, 1);
    --success-50: rgba(236, 253, 243, 1);
    --success-100: rgba(209, 250, 223, 1);
    --success-200: rgba(166, 244, 197, 1);
    --success-300: rgba(108, 233, 166, 1);
    --success-400: rgba(50, 213, 131, 1);
    --success-500: rgba(18, 183, 106, 1);
    --success-600: rgba(3, 152, 85, 1);
    --success-700: rgba(2, 122, 72, 1);
    --success-800: rgba(5, 96, 58, 1);
    --success-900: rgba(5, 79, 49, 1);
    --blue-gray25: rgba(252, 252, 253, 1);
    --blue-gray50: rgba(248, 249, 252, 1);
    --blue-gray100: rgba(234, 236, 245, 1);
    --blue-gray200: rgba(213, 217, 235, 1);
    --blue-gray300: rgba(175, 181, 217, 1);
    --blue-gray400: rgba(113, 123, 188, 1);
    --blue-gray500: rgba(78, 91, 166, 1);
    --blue-gray600: rgba(62, 71, 132, 1);
    --blue-gray700: rgba(54, 63, 114, 1);
    --blue-gray800: rgba(41, 48, 86, 1);
    --blue-gray900: rgba(16, 19, 35, 1);
    --blue-light25: rgba(245, 251, 255, 1);
    --blue-light50: rgba(240, 249, 255, 1);
    --blue-light100: rgba(224, 242, 254, 1);
    --blue-light200: rgba(185, 230, 254, 1);
    --blue-light300: rgba(124, 212, 253, 1);
    --blue-light400: rgba(54, 191, 250, 1);
    --blue-light500: rgba(11, 165, 236, 1);
    --blue-light600: rgba(0, 134, 201, 1);
    --blue-light700: rgba(2, 106, 162, 1);
    --blue-light800: rgba(6, 89, 134, 1);
    --blue-light900: rgba(11, 74, 111, 1);
    --blue-25: rgba(245, 250, 255, 1);
    --blue-50: rgba(239, 248, 255, 1);
    --blue-100: rgba(209, 233, 255, 1);
    --blue-200: rgba(178, 221, 255, 1);
    --blue-300: rgba(132, 202, 255, 1);
    --blue-400: rgba(83, 177, 253, 1);
    --blue-500: rgba(46, 144, 250, 1);
    --blue-600: rgba(21, 112, 239, 1);
    --blue-700: rgba(23, 92, 211, 1);
    --blue-800: rgba(24, 73, 169, 1);
    --blue-900: rgba(25, 65, 133, 1);
    --indigo-25: rgba(245, 248, 255, 1);
    --indigo-50: rgba(238, 244, 255, 1);
    --indigo-100: rgba(224, 234, 255, 1);
    --indigo-200: rgba(199, 215, 254, 1);
    --indigo-300: rgba(164, 188, 253, 1);
    --indigo-400: rgba(128, 152, 249, 1);
    --indigo-500: rgba(97, 114, 243, 1);
    --indigo-600: rgba(68, 76, 231, 1);
    --indigo-700: rgba(53, 56, 205, 1);
    --indigo-800: rgba(45, 49, 166, 1);
    --indigo-900: rgba(45, 50, 130, 1);
    --purple-25: rgba(250, 250, 255, 1);
    --purple-50: rgba(244, 243, 255, 1);
    --purple-100: rgba(235, 233, 254, 1);
    --purple-200: rgba(217, 214, 254, 1);
    --purple-300: rgba(189, 180, 254, 1);
    --purple-400: rgba(155, 138, 251, 1);
    --purple-500: rgba(122, 90, 248, 1);
    --purple-600: rgba(105, 56, 239, 1);
    --purple-700: rgba(89, 37, 220, 1);
    --purple-800: rgba(74, 31, 184, 1);
    --purple-900: rgba(62, 28, 150, 1);
    --pink-25: rgba(254, 246, 251, 1);
    --pink-50: rgba(253, 242, 250, 1);
    --pink-100: rgba(252, 231, 246, 1);
    --pink-200: rgba(252, 206, 238, 1);
    --pink-300: rgba(250, 167, 224, 1);
    --pink-400: rgba(246, 112, 199, 1);
    --pink-500: rgba(238, 70, 188, 1);
    --pink-600: rgba(221, 37, 144, 1);
    --pink-700: rgba(193, 21, 116, 1);
    --pink-800: rgba(158, 22, 95, 1);
    --pink-900: rgba(133, 22, 81, 1);
    --ros-25: rgba(255, 245, 246, 1);
    --ros-50: rgba(255, 241, 243, 1);
    --ros-100: rgba(255, 228, 232, 1);
    --ros-200: rgba(254, 205, 214, 1);
    --ros-300: rgba(254, 163, 180, 1);
    --ros-400: rgba(253, 111, 142, 1);
    --ros-500: rgba(246, 61, 104, 1);
    --ros-600: rgba(227, 27, 84, 1);
    --ros-700: rgba(192, 16, 72, 1);
    --ros-800: rgba(161, 16, 67, 1);
    --ros-900: rgba(137, 18, 62, 1);
    --orange-25: rgba(255, 250, 245, 1);
    --orange-50: rgba(255, 246, 237, 1);
    --orange-100: rgba(255, 234, 213, 1);
    --orange-200: rgba(253, 220, 171, 1);
    --orange-300: rgba(254, 178, 115, 1);
    --orange-400: rgba(253, 133, 58, 1);
    --orange-500: rgba(251, 101, 20, 1);
    --orange-600: rgba(236, 74, 10, 1);
    --orange-700: rgba(196, 50, 10, 1);
    --orange-800: rgba(156, 42, 16, 1);
    --orange-900: rgba(126, 36, 16, 1);
    --avatar-user-squareolivia-rhye-color-background: rgba(199, 185, 218, 1);
    --avatar-user-squarephoenix-baker-color-background: rgba(170, 156, 117, 1);
    --avatar-user-squarelana-steiner-color-background: rgba(212, 181, 173, 1);
    --avatar-user-squaredemi-wilkinson-color-background: rgba(190, 168, 135, 1);
    --avatar-user-squarecandice-wu-color-background: rgba(162, 168, 205, 1);
    --avatar-user-squarenatali-craig-color-background: rgba(209, 186, 169, 1);
    --avatar-user-squaredrew-cano-color-background: rgba(209, 223, 195, 1);
    --avatar-user-squareorlando-diggs-color-background: rgba(207, 195, 167, 1);
    --avatar-user-squareandi-lane-color-background: rgba(210, 199, 172, 1);
    --avatar-user-squarekate-morrison-color-background: rgba(219, 192, 221, 1);
    --avatar-user-squarekoray-okumus-color-background: rgba(212, 178, 175, 1);
    --avatar-user-squareava-wright-color-background: rgba(201, 186, 156, 1);
    --avatar-user-squareeve-leroy-color-background: rgba(218, 185, 187, 1);
    --avatar-user-squarezahir-mays-color-background: rgba(195, 199, 223, 1);
    --avatar-user-squarejoshua-wilson-color-background: rgba(210, 219, 189, 1);
    --avatar-user-squarerene-wells-color-background: rgba(223, 204, 159, 1);
    --avatar-user-squarelori-bryson-color-background: rgba(217, 185, 187, 1);
    --avatar-user-squareanaiah-whitten-color-background: rgba(204, 192, 221, 1);
    --avatar-user-squarenoah-pierre-color-background: rgba(212, 175, 189, 1);
    --avatar-user-squarekatherine-moss-color-background: rgba(162, 168, 205, 1);
    --avatar-user-squaremollie-hall-color-background: rgba(203, 159, 162, 1);
    --avatar-user-squareeduard-franze-color-background: rgba(219, 208, 189, 1);
    --avatar-user-squarealec-whitten-color-background: rgba(171, 182, 119, 1);
    --avatar-user-squareeva-bond-color-background: rgba(219, 192, 221, 1);
    --avatar-user-squaresophia-perez-color-background: rgba(182, 205, 216, 1);
    --avatar-user-squarelyle-kauffman-color-background: rgba(210, 177, 172, 1);
    --avatar-user-squarekelly-williams-color-background: rgba(216, 199, 182, 1);
    --avatar-user-squarelucy-bond-color-background: rgba(219, 192, 221, 1);
    --avatar-user-squarealisa-hester-color-background: rgba(212, 175, 189, 1);
    --avatar-user-squarerosalee-melvin-color-background: rgba(219, 202, 189, 1);
    --avatar-user-squareloki-bright-color-background: rgba(185, 207, 208, 1);
    --avatar-user-squarealiah-lane-color-background: rgba(215, 192, 221, 1);
    --avatar-user-squareanita-cruz-color-background: rgba(194, 199, 184, 1);
    --avatar-user-squarekari-rasmussen-color-background: rgba(169, 181, 141, 1);
    --avatar-user-squarenala-goins-color-background: rgba(192, 198, 221, 1);
    --display-2xl-regular-font-family: "Inter", Helvetica;
    --display-2xl-regular-font-weight: 400;
    --display-2xl-regular-font-size: 72px;
    --display-2xl-regular-letter-spacing: -1.44px;
    --display-2xl-regular-line-height: 90px;
    --display-2xl-regular-font-style: normal;
    --display-2xl-medium-font-family: "Inter", Helvetica;
    --display-2xl-medium-font-weight: 500;
    --display-2xl-medium-font-size: 72px;
    --display-2xl-medium-letter-spacing: -1.44px;
    --display-2xl-medium-line-height: 90px;
    --display-2xl-medium-font-style: normal;
    --display-2xl-semibold-font-family: "Inter", Helvetica;
    --display-2xl-semibold-font-weight: 600;
    --display-2xl-semibold-font-size: 72px;
    --display-2xl-semibold-letter-spacing: -1.44px;
    --display-2xl-semibold-line-height: 90px;
    --display-2xl-semibold-font-style: normal;
    --display-2xl-bold-font-family: "Inter", Helvetica;
    --display-2xl-bold-font-weight: 700;
    --display-2xl-bold-font-size: 72px;
    --display-2xl-bold-letter-spacing: -1.44px;
    --display-2xl-bold-line-height: 90px;
    --display-2xl-bold-font-style: normal;
    --display-xl-regular-font-family: "Inter", Helvetica;
    --display-xl-regular-font-weight: 400;
    --display-xl-regular-font-size: 60px;
    --display-xl-regular-letter-spacing: -1.2px;
    --display-xl-regular-line-height: 72px;
    --display-xl-regular-font-style: normal;
    --display-xl-medium-font-family: "Inter", Helvetica;
    --display-xl-medium-font-weight: 500;
    --display-xl-medium-font-size: 60px;
    --display-xl-medium-letter-spacing: -1.2px;
    --display-xl-medium-line-height: 72px;
    --display-xl-medium-font-style: normal;
    --display-xl-semibold-font-family: "Inter", Helvetica;
    --display-xl-semibold-font-weight: 600;
    --display-xl-semibold-font-size: 60px;
    --display-xl-semibold-letter-spacing: -1.2px;
    --display-xl-semibold-line-height: 72px;
    --display-xl-semibold-font-style: normal;
    --display-xl-bold-font-family: "Inter", Helvetica;
    --display-xl-bold-font-weight: 700;
    --display-xl-bold-font-size: 60px;
    --display-xl-bold-letter-spacing: -1.2px;
    --display-xl-bold-line-height: 72px;
    --display-xl-bold-font-style: normal;
    --display-lg-regular-font-family: "Inter", Helvetica;
    --display-lg-regular-font-weight: 400;
    --display-lg-regular-font-size: 48px;
    --display-lg-regular-letter-spacing: -0.96px;
    --display-lg-regular-line-height: 60px;
    --display-lg-regular-font-style: normal;
    --display-lg-medium-font-family: "Inter", Helvetica;
    --display-lg-medium-font-weight: 500;
    --display-lg-medium-font-size: 48px;
    --display-lg-medium-letter-spacing: -0.96px;
    --display-lg-medium-line-height: 60px;
    --display-lg-medium-font-style: normal;
    --display-lg-semibold-font-family: "Inter", Helvetica;
    --display-lg-semibold-font-weight: 600;
    --display-lg-semibold-font-size: 48px;
    --display-lg-semibold-letter-spacing: -0.96px;
    --display-lg-semibold-line-height: 60px;
    --display-lg-semibold-font-style: normal;
    --display-lg-bold-font-family: "Inter", Helvetica;
    --display-lg-bold-font-weight: 700;
    --display-lg-bold-font-size: 48px;
    --display-lg-bold-letter-spacing: -0.96px;
    --display-lg-bold-line-height: 60px;
    --display-lg-bold-font-style: normal;
    --display-md-regular-font-family: "Inter", Helvetica;
    --display-md-regular-font-weight: 400;
    --display-md-regular-font-size: 36px;
    --display-md-regular-letter-spacing: -0.72px;
    --display-md-regular-line-height: 44px;
    --display-md-regular-font-style: normal;
    --display-md-medium-font-family: "Inter", Helvetica;
    --display-md-medium-font-weight: 500;
    --display-md-medium-font-size: 36px;
    --display-md-medium-letter-spacing: -0.72px;
    --display-md-medium-line-height: 44px;
    --display-md-medium-font-style: normal;
    --display-md-semibold-font-family: "Inter", Helvetica;
    --display-md-semibold-font-weight: 600;
    --display-md-semibold-font-size: 36px;
    --display-md-semibold-letter-spacing: -0.72px;
    --display-md-semibold-line-height: 44px;
    --display-md-semibold-font-style: normal;
    --display-md-bold-font-family: "Inter", Helvetica;
    --display-md-bold-font-weight: 700;
    --display-md-bold-font-size: 36px;
    --display-md-bold-letter-spacing: -0.72px;
    --display-md-bold-line-height: 44px;
    --display-md-bold-font-style: normal;
    --display-sm-regular-font-family: "Inter", Helvetica;
    --display-sm-regular-font-weight: 400;
    --display-sm-regular-font-size: 30px;
    --display-sm-regular-letter-spacing: 0px;
    --display-sm-regular-line-height: 38px;
    --display-sm-regular-font-style: normal;
    --display-sm-medium-font-family: "Inter", Helvetica;
    --display-sm-medium-font-weight: 500;
    --display-sm-medium-font-size: 30px;
    --display-sm-medium-letter-spacing: 0px;
    --display-sm-medium-line-height: 38px;
    --display-sm-medium-font-style: normal;
    --display-sm-semibold-font-family: "Inter", Helvetica;
    --display-sm-semibold-font-weight: 600;
    --display-sm-semibold-font-size: 30px;
    --display-sm-semibold-letter-spacing: 0px;
    --display-sm-semibold-line-height: 38px;
    --display-sm-semibold-font-style: normal;
    --display-sm-bold-font-family: "Inter", Helvetica;
    --display-sm-bold-font-weight: 700;
    --display-sm-bold-font-size: 30px;
    --display-sm-bold-letter-spacing: 0px;
    --display-sm-bold-line-height: 38px;
    --display-sm-bold-font-style: normal;
    --display-sm-medium-italic-font-family: "Inter", Helvetica;
    --display-sm-medium-italic-font-weight: 500;
    --display-sm-medium-italic-font-size: 30px;
    --display-sm-medium-italic-letter-spacing: 0px;
    --display-sm-medium-italic-line-height: 44px;
    --display-sm-medium-italic-font-style: italic;
    --display-xs-regular-font-family: "Inter", Helvetica;
    --display-xs-regular-font-weight: 400;
    --display-xs-regular-font-size: 24px;
    --display-xs-regular-letter-spacing: 0px;
    --display-xs-regular-line-height: 32px;
    --display-xs-regular-font-style: normal;
    --display-xs-medium-font-family: "Inter", Helvetica;
    --display-xs-medium-font-weight: 500;
    --display-xs-medium-font-size: 24px;
    --display-xs-medium-letter-spacing: 0px;
    --display-xs-medium-line-height: 32px;
    --display-xs-medium-font-style: normal;
    --display-xs-semibold-font-family: "Inter", Helvetica;
    --display-xs-semibold-font-weight: 600;
    --display-xs-semibold-font-size: 24px;
    --display-xs-semibold-letter-spacing: 0px;
    --display-xs-semibold-line-height: 32px;
    --display-xs-semibold-font-style: normal;
    --display-xs-bold-font-family: "Inter", Helvetica;
    --display-xs-bold-font-weight: 700;
    --display-xs-bold-font-size: 24px;
    --display-xs-bold-letter-spacing: 0px;
    --display-xs-bold-line-height: 32px;
    --display-xs-bold-font-style: normal;
    --display-xs-medium-italic-font-family: "Inter", Helvetica;
    --display-xs-medium-italic-font-weight: 500;
    --display-xs-medium-italic-font-size: 24px;
    --display-xs-medium-italic-letter-spacing: 0px;
    --display-xs-medium-italic-line-height: 36px;
    --display-xs-medium-italic-font-style: italic;
    --display-xs-semibold-underlined-font-family: "Inter", Helvetica;
    --display-xs-semibold-underlined-font-weight: 600;
    --display-xs-semibold-underlined-font-size: 24px;
    --display-xs-semibold-underlined-letter-spacing: 0px;
    --display-xs-semibold-underlined-line-height: 32px;
    --display-xs-semibold-underlined-font-style: normal;
    --text-xl-regular-font-family: "Inter", Helvetica;
    --text-xl-regular-font-weight: 400;
    --text-xl-regular-font-size: 20px;
    --text-xl-regular-letter-spacing: 0px;
    --text-xl-regular-line-height: 30px;
    --text-xl-regular-font-style: normal;
    --text-xl-medium-font-family: "Inter", Helvetica;
    --text-xl-medium-font-weight: 500;
    --text-xl-medium-font-size: 20px;
    --text-xl-medium-letter-spacing: 0px;
    --text-xl-medium-line-height: 30px;
    --text-xl-medium-font-style: normal;
    --text-xl-semibold-font-family: "Inter", Helvetica;
    --text-xl-semibold-font-weight: 600;
    --text-xl-semibold-font-size: 20px;
    --text-xl-semibold-letter-spacing: 0px;
    --text-xl-semibold-line-height: 30px;
    --text-xl-semibold-font-style: normal;
    --text-xl-bold-font-family: "Inter", Helvetica;
    --text-xl-bold-font-weight: 700;
    --text-xl-bold-font-size: 20px;
    --text-xl-bold-letter-spacing: 0px;
    --text-xl-bold-line-height: 30px;
    --text-xl-bold-font-style: normal;
    --text-xl-regular-italic-font-family: "Inter", Helvetica;
    --text-xl-regular-italic-font-weight: 400;
    --text-xl-regular-italic-font-size: 20px;
    --text-xl-regular-italic-letter-spacing: 0px;
    --text-xl-regular-italic-line-height: 30px;
    --text-xl-regular-italic-font-style: italic;
    --text-xl-medium-italic-font-family: "Inter", Helvetica;
    --text-xl-medium-italic-font-weight: 500;
    --text-xl-medium-italic-font-size: 20px;
    --text-xl-medium-italic-letter-spacing: 0px;
    --text-xl-medium-italic-line-height: 30px;
    --text-xl-medium-italic-font-style: italic;
    --text-xl-semibold-italic-font-family: "Inter", Helvetica;
    --text-xl-semibold-italic-font-weight: 600;
    --text-xl-semibold-italic-font-size: 20px;
    --text-xl-semibold-italic-letter-spacing: 0px;
    --text-xl-semibold-italic-line-height: 30px;
    --text-xl-semibold-italic-font-style: italic;
    --text-xl-bold-italic-font-family: "Inter", Helvetica;
    --text-xl-bold-italic-font-weight: 700;
    --text-xl-bold-italic-font-size: 20px;
    --text-xl-bold-italic-letter-spacing: 0px;
    --text-xl-bold-italic-line-height: 30px;
    --text-xl-bold-italic-font-style: italic;
    --text-xl-regular-underlined-font-family: "Inter", Helvetica;
    --text-xl-regular-underlined-font-weight: 400;
    --text-xl-regular-underlined-font-size: 20px;
    --text-xl-regular-underlined-letter-spacing: 0px;
    --text-xl-regular-underlined-line-height: 30px;
    --text-xl-regular-underlined-font-style: normal;
    --text-xl-medium-underlined-font-family: "Inter", Helvetica;
    --text-xl-medium-underlined-font-weight: 500;
    --text-xl-medium-underlined-font-size: 20px;
    --text-xl-medium-underlined-letter-spacing: 0px;
    --text-xl-medium-underlined-line-height: 30px;
    --text-xl-medium-underlined-font-style: normal;
    --text-lg-regular-font-family: "Inter", Helvetica;
    --text-lg-regular-font-weight: 400;
    --text-lg-regular-font-size: 18px;
    --text-lg-regular-letter-spacing: 0px;
    --text-lg-regular-line-height: 28px;
    --text-lg-regular-font-style: normal;
    --text-lg-medium-font-family: "Inter", Helvetica;
    --text-lg-medium-font-weight: 500;
    --text-lg-medium-font-size: 18px;
    --text-lg-medium-letter-spacing: 0px;
    --text-lg-medium-line-height: 28px;
    --text-lg-medium-font-style: normal;
    --text-lg-semibold-font-family: "Inter", Helvetica;
    --text-lg-semibold-font-weight: 600;
    --text-lg-semibold-font-size: 18px;
    --text-lg-semibold-letter-spacing: 0px;
    --text-lg-semibold-line-height: 28px;
    --text-lg-semibold-font-style: normal;
    --text-lg-bold-font-family: "Inter", Helvetica;
    --text-lg-bold-font-weight: 700;
    --text-lg-bold-font-size: 18px;
    --text-lg-bold-letter-spacing: 0px;
    --text-lg-bold-line-height: 28px;
    --text-lg-bold-font-style: normal;
    --text-lg-regular-italic-font-family: "Inter", Helvetica;
    --text-lg-regular-italic-font-weight: 400;
    --text-lg-regular-italic-font-size: 18px;
    --text-lg-regular-italic-letter-spacing: 0px;
    --text-lg-regular-italic-line-height: 28px;
    --text-lg-regular-italic-font-style: italic;
    --text-lg-medium-italic-font-family: "Inter", Helvetica;
    --text-lg-medium-italic-font-weight: 500;
    --text-lg-medium-italic-font-size: 18px;
    --text-lg-medium-italic-letter-spacing: 0px;
    --text-lg-medium-italic-line-height: 28px;
    --text-lg-medium-italic-font-style: italic;
    --text-lg-semibold-italic-font-family: "Inter", Helvetica;
    --text-lg-semibold-italic-font-weight: 600;
    --text-lg-semibold-italic-font-size: 18px;
    --text-lg-semibold-italic-letter-spacing: 0px;
    --text-lg-semibold-italic-line-height: 28px;
    --text-lg-semibold-italic-font-style: italic;
    --text-lg-bold-italic-font-family: "Inter", Helvetica;
    --text-lg-bold-italic-font-weight: 700;
    --text-lg-bold-italic-font-size: 18px;
    --text-lg-bold-italic-letter-spacing: 0px;
    --text-lg-bold-italic-line-height: 28px;
    --text-lg-bold-italic-font-style: italic;
    --text-lg-regular-underlined-font-family: "Inter", Helvetica;
    --text-lg-regular-underlined-font-weight: 400;
    --text-lg-regular-underlined-font-size: 18px;
    --text-lg-regular-underlined-letter-spacing: 0px;
    --text-lg-regular-underlined-line-height: 28px;
    --text-lg-regular-underlined-font-style: normal;
    --text-lg-medium-underlined-font-family: "Inter", Helvetica;
    --text-lg-medium-underlined-font-weight: 500;
    --text-lg-medium-underlined-font-size: 18px;
    --text-lg-medium-underlined-letter-spacing: 0px;
    --text-lg-medium-underlined-line-height: 28px;
    --text-lg-medium-underlined-font-style: normal;
    --text-md-regular-font-family: "Inter", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 16px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 24px;
    --text-md-regular-font-style: normal;
    --text-md-medium-font-family: "Inter", Helvetica;
    --text-md-medium-font-weight: 500;
    --text-md-medium-font-size: 16px;
    --text-md-medium-letter-spacing: 0px;
    --text-md-medium-line-height: 24px;
    --text-md-medium-font-style: normal;
    --text-md-semibold-font-family: "Inter", Helvetica;
    --text-md-semibold-font-weight: 600;
    --text-md-semibold-font-size: 16px;
    --text-md-semibold-letter-spacing: 0px;
    --text-md-semibold-line-height: 24px;
    --text-md-semibold-font-style: normal;
    --text-md-bold-font-family: "Inter", Helvetica;
    --text-md-bold-font-weight: 700;
    --text-md-bold-font-size: 16px;
    --text-md-bold-letter-spacing: 0px;
    --text-md-bold-line-height: 24px;
    --text-md-bold-font-style: normal;
    --text-md-regular-italic-font-family: "Inter", Helvetica;
    --text-md-regular-italic-font-weight: 400;
    --text-md-regular-italic-font-size: 16px;
    --text-md-regular-italic-letter-spacing: 0px;
    --text-md-regular-italic-line-height: 24px;
    --text-md-regular-italic-font-style: italic;
    --text-md-medium-italic-font-family: "Inter", Helvetica;
    --text-md-medium-italic-font-weight: 500;
    --text-md-medium-italic-font-size: 16px;
    --text-md-medium-italic-letter-spacing: 0px;
    --text-md-medium-italic-line-height: 24px;
    --text-md-medium-italic-font-style: italic;
    --text-md-semibold-italic-font-family: "Inter", Helvetica;
    --text-md-semibold-italic-font-weight: 600;
    --text-md-semibold-italic-font-size: 16px;
    --text-md-semibold-italic-letter-spacing: 0px;
    --text-md-semibold-italic-line-height: 24px;
    --text-md-semibold-italic-font-style: italic;
    --text-md-bold-italic-font-family: "Inter", Helvetica;
    --text-md-bold-italic-font-weight: 700;
    --text-md-bold-italic-font-size: 16px;
    --text-md-bold-italic-letter-spacing: 0px;
    --text-md-bold-italic-line-height: 24px;
    --text-md-bold-italic-font-style: italic;
    --text-md-regular-underlined-font-family: "Inter", Helvetica;
    --text-md-regular-underlined-font-weight: 400;
    --text-md-regular-underlined-font-size: 16px;
    --text-md-regular-underlined-letter-spacing: 0px;
    --text-md-regular-underlined-line-height: 24px;
    --text-md-regular-underlined-font-style: normal;
    --text-sm-regular-font-family: "Inter", Helvetica;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-letter-spacing: 0px;
    --text-sm-regular-line-height: 20px;
    --text-sm-regular-font-style: normal;
    --text-sm-medium-font-family: "Inter", Helvetica;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-letter-spacing: 0px;
    --text-sm-medium-line-height: 20px;
    --text-sm-medium-font-style: normal;
    --text-sm-semibold-font-family: "Inter", Helvetica;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-letter-spacing: 0px;
    --text-sm-semibold-line-height: 20px;
    --text-sm-semibold-font-style: normal;
    --text-sm-bold-font-family: "Inter", Helvetica;
    --text-sm-bold-font-weight: 700;
    --text-sm-bold-font-size: 14px;
    --text-sm-bold-letter-spacing: 0px;
    --text-sm-bold-line-height: 20px;
    --text-sm-bold-font-style: normal;
    --text-xs-regular-font-family: "Inter", Helvetica;
    --text-xs-regular-font-weight: 400;
    --text-xs-regular-font-size: 12px;
    --text-xs-regular-letter-spacing: 0px;
    --text-xs-regular-line-height: 18px;
    --text-xs-regular-font-style: normal;
    --text-xs-medium-font-family: "Inter", Helvetica;
    --text-xs-medium-font-weight: 500;
    --text-xs-medium-font-size: 12px;
    --text-xs-medium-letter-spacing: 0px;
    --text-xs-medium-line-height: 18px;
    --text-xs-medium-font-style: normal;
    --text-xs-semibold-font-family: "Inter", Helvetica;
    --text-xs-semibold-font-weight: 600;
    --text-xs-semibold-font-size: 12px;
    --text-xs-semibold-letter-spacing: 0px;
    --text-xs-semibold-line-height: 18px;
    --text-xs-semibold-font-style: normal;
    --text-xs-bold-font-family: "Inter", Helvetica;
    --text-xs-bold-font-weight: 700;
    --text-xs-bold-font-size: 12px;
    --text-xs-bold-letter-spacing: 0px;
    --text-xs-bold-line-height: 18px;
    --text-xs-bold-font-style: normal;
    --focus-ring-4px-primary-100: 0px 0px 0px 4px rgba(244, 235, 255, 1);
    --focus-ring-4px-gray-100: 0px 0px 0px 4px rgba(242, 244, 247, 1);
    --focus-ring-4px-error-100: 0px 0px 0px 4px rgba(254, 228, 226, 1);
    --focus-ring-4px-gray-600: 0px 0px 0px 4px rgba(71, 84, 103, 1);
    --focus-ring-4px-primary-600: 0px 0px 0px 4px rgba(127, 86, 217, 1);
    --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadow-xs-focused-4px-primary-100: 0px 0px 0px 4px rgba(244, 235, 255, 1),
        0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadow-xs-focused-4px-gray-100: 0px 0px 0px 4px rgba(242, 244, 247, 1), 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadow-xs-focused-4px-error-100: 0px 0px 0px 4px rgba(254, 228, 226, 1), 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
    --shadow-sm-focused-4px-primary-100:
        0px 0px 0px 4px rgba(244, 235, 255, 1), 0px 1px 2px 0px rgba(16,
            24,
            40,
            0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
    --shadow-sm-focused-4px-gray-100:
        0px 0px 0px 4px rgba(242, 244, 247, 1), 0px 1px 2px 0px rgba(16,
            24,
            40,
            0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
    --shadow-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
    --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    --shadow-xl: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
    --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    --shadow-portfolio-mockup-main-centre-md: 0px 75px 150px 0px rgba(52, 64, 84, 0.14);
    --shadow-portfolio-mockup-main-centre-lg: 0px 100px 200px 0px rgba(52, 64, 84, 0.18);
    --shadow-portfolio-mockup-overlay-right-lg: -100px 100px 150px 0px rgba(52, 64, 84, 0.12);
    --shadow-portfolio-mockup-overlay-left-lg: 100px 100px 150px 0px rgba(52, 64, 84, 0.12);
    --shadow-portfolio-mockup-grid-shadow-md: 32px 32px 64px 0px rgba(52, 64, 84, 0.08);
}
